<!DOCTYPE html>
<html lang="js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sanskrit</title>
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script src="../../javascripts/script.js"></script>
</head>

<body>
    <div class="maincontainer">
        
        <% if (flg == false) { %>
        <div class="menu_container main">
        <% }else{ %>
        <div class="menu_container sub">
        <% } %>
        <div class="search_container">
            <% if (flg == false) { %>
            <h1 class="title main" style="left: -25px;"><%= title %></h1>
            <% }else{ %>
            <h1 class="title sub"><%= title %></h1>
            <% } %>

            <form method="get" action="/skt/search" class="search-form-1">
                <label for="search">
                    <input type="text" size="25"  name="skt_search" id="search" placeholder="キーワード検索">
                </label>
                <button type="submit" aria-label="検索" class="search-btn"></button>
            </form>
        </div>
            <div class="textcontainer">
                <div class="textrow">
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ā</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ī</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ū</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṛ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṝ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ḷ</button></div>    
                </div>
                <div class="textrow">
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṭ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ḍ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṇ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ñ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṅ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṣ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ś</button></div>  
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ḥ</button></div>
                  <div class="roman_text"><button onclick="insertText(this)" class="insert_text" >ṃ</button></div>
                </div>
             </div>
        </div>
        
        <% if (flg == false) { %>

        <% } else { %>
        <table id='data-table'>
            <!-- テーブルのヘッダー行 -->
            <tr>
                
                <th>id</th>
                <th cmanFilterBtn>原型</th>
                <th cmanFilterBtn>品詞</th>
                <th cmanFilterBtn>語根/法</th>
                <th cmanFilterBtn>性/人称</th>
                <th cmanFilterBtn>数</th>
                <th cmanFilterBtn>格/態</th>
                <th cmanFilterBtn>語尾</th>
                <th>備考</th>
            </tr>
            <%
            // 新しい配列を定義
            var bases = [];
            
            // contentの各要素に対してbaseを計算し、新しい配列に追加する
            for (var i = 0; i < content.length; i++) {
                var obj = content[i];
                // 正規表現を使用してtitleから語尾を削除し、obj.root_or_moodを追加してoriginを計算
                var endTextRegex = new RegExp(obj.ending_pattern + '$');
                var base;
                if(obj.word_class=='動詞'){
                    base = title.replace(endTextRegex, '') ;
                }else{
                    base = title.replace(endTextRegex, '') + obj.root_or_mood;
                }
                
                // baseを辞書objに新しい要素として追加する
                obj.base = base;
                
                // basesにbaseが存在しない場合のみ追加する
                if (!bases.includes(base)) {
                bases.push(base);
                }
            }
            
            // basesを短い順にソートする
            bases.sort(function(a, b) {
                return a.length - b.length;
            });
            %>

            <%
            for (var i = 0; i < bases.length; i++) {
                var base = bases[i];
                for (var j = 0; j < content.length; j++) {
                var obj = content[j]
                if(obj.base == base){
                    %>
            
                <tr>
                    <td class="id"><%= obj.id %></td>
                    <td class="base"><a href="<%= obj.url %>"  target="_blank"><%= obj.base %></a></td>
                    <td class="word_class"><%= obj.word_class %></td>
                    <td class="root_or_mood"><a href="<%= obj.url %>"  target="_blank"><%= obj.root_or_mood %></a></td>                   
                    <td class="gender_or_person"><%= obj.gender_or_person %></td>
                    <td class="number"><%= obj.number %></td>
                    <td class="case_or_voice"><%= obj.case_or_voice %></td>
                    <td class="ending_pattern"><%= obj.ending_pattern %></td>
                    <td class="remark"><%= obj.remark %></td>
                    <td class="copy_td" style="border: none; background: none; z-index: -100; "><button onclick="copyText(this)" class="copy_row" >copy!</button></td>
                </tr>
                    <%
                }
            }
            }
            %>
        </table>
    <% } %>
    </div>
    <!-- データをHTMLに埋め込む -->
    <div id="data" style="display: none;"><%= title %></div>
</body>

</html>
